<mat-toolbar color="primary" role="banner">
  <a routerLink="/">
    <img src="assets/logo.png" alt="Logo" style="height: 40px; margin-right: 10px;" />
  </a>
  <span>{{ 'FE_CHALLENGE' | translate }}</span>
  <span class="spacer"></span>
  <mat-form-field appearance="fill">
    <mat-label>Language</mat-label>
    <mat-select [(value)]="selectedLanguage" (selectionChange)="onLanguageChange($event)">
      <mat-option value="en">English</mat-option>
      <mat-option value="es">Spanish</mat-option>
      <mat-option value="de">German</mat-option>
      <mat-option value="fr">French</mat-option>
      <mat-option value="zu">Zulu</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
